.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-login {
  background: white;
  border: 1px solid #a6b1b6;
  border-radius: 15px;
  -moz-box-shadow: 2px 2px 5px #999;
  box-shadow: 5px 5px 15px #999;
}

.header-usco-card {
  background-image: url("/assets/img/banner.jpg");
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}

.fondo {
  background-color: #dbe0e2;
}

.example-full-width {
  width: 100%;
}

.punteada {
  border-bottom: dashed 1px #ffffff;
}
.google-btn {
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.google-btn:hover {
  background-color: #f1f1f1;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.particles-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
