<div id="particles-js" class="particles-container"></div>
<div class="content">
  <div class="card-login">
    <div class="card-header header-usco-card">
      <div class="row text-center">
        <div class="col" style="width: 360px; height: 180px"></div>
      </div>
    </div>
    <div class="card-body font-usco-gr">
      <div class="container">
        <div class="row mt-2 mb-4 text-center">
          <div class="col">
            <button (click)="loginGoogle()" class="google-btn font-weight-bold">
              <img
                src="assets/img/google.svg"
                alt="Google Logo"
                class="google-icon"
              />
              Iniciar sesión con Google para votar
            </button>
          </div>
        </div>
        <div class="row text-center">
          <div class="col" style="width: 100px">
            <small style="font-size: 12px">
              <b class="version">
                © {{ anioActual | date : "yyyy" }} Millennium-Soft - Versión 1
              </b>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
